@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Telugu&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Telugu", sans-serif;
}

body {
    background-color: #FFFAE6;
}

header {
    height: 15vh;
    width: 98vw;
    margin: 2vh 0.5vw;
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #002379;
    border-radius: 2rem;
    border: 1vh solid #AF8F6F;
    position: sticky;
    top: 5px;
    z-index: 1000;
}

header h1 {
    font-weight: bold;
    font-size: 2rem;
    color: #FFFAE6;
}

header img {
    height: 4.5rem;
    border-radius: 50%;
}

main {
    width: 100%;
    padding: 3.5vh 2vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form {
    width: 94vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
}

details {
    border-radius: 1.5rem;
    width: 94vw;
    padding: 0.5vw;
    color: #F8F4E1;
    font-size: 1rem;
    background-color: #AF8F6F;
}

summary {
    padding: 1vh 3vh;
    border-radius: 1rem;
    background-color: #543310;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
}

.card {
    margin: 1vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.item {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    padding: 1.5vh;
    background-color: #FFFAE6;
    box-shadow: 0.4rem 0.4rem #FF9F66;
    border-radius: 1rem;
}

.item img {
    width: 208px;
    height: 200px;
    border-radius: 1rem;
}

.item label {
    font-size: 1.5rem;
    font-weight: bold;
    color: #002379;
    cursor: pointer;
    position: relative;
    padding-left: 20px;
}

.item input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.item label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: #DC5F00;
    border-radius: 50%;
}

.item input[type="checkbox"]:checked + label:before {
    background-color: #003285;
}

.item input[type='text'] {
    display: none;
    border-radius: 1rem;
}

input[type='checkbox']:checked ~ input[type='text'] {
    display: block;
    width: 140px;
    height: 25px;
    padding-left: 2px;
}

details[open] .item {
    height: fit-content;
}

.merge {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    background-color: rgb(245, 86, 28);
    color: white;
    font-size: 1.5rem;
    padding: 1vh;
    border: 5px solid rgb(3, 3, 110);
    border-radius: 10px;
    cursor: pointer;
}

.keypad {
    margin-top: 10px;
    transform: translateX(-25%);
    font-weight: bold;
    color: #1A2130;
    position: absolute;
    display: none;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    width: 350px;
    background-color: #FDFFE2;
    border: 5px solid rgb(71, 64, 64);
    padding: 10px;
    z-index: 1000;
    border-radius: 1rem;
}

.keypad .clear, .keypad .delete {
    background-color: rgb(227, 16, 16);
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.keypad .done {
    background-color: rgb(16, 225, 16);
    padding: 10px 20px;
    color: white;
}

.keypad .key, .done {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 0.5rem;
    background-color: #83B4FF;
    transition: background-color 0.3s;
}

.keypad .key:hover {
    background-color: #5A72A0;
}

.keypad .delete:hover, .keypad .clear:hover {
    background-color: rgb(155, 26, 26);
}

.keypad .done:hover {
    background-color: rgb(7, 77, 7);
}

.banner {
    width: 50vw;
    height: 60vh;
    padding: 1vh 3vw 1vh 1vh;
    background-color: #FF9F66;
    color: #543310;
    box-shadow: 0.5rem 0.5rem #FF5F00;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.banner h1 {
    font-size: 3rem;
    width: 45vw;
}

.banner p {
    font-size: 1.1rem;
    line-height: 2rem;
    width: 45vw;
    font-weight: bold;
}

.banner a {
    text-decoration: none;
    border-radius: 1rem;
    background-color: #002379;
    padding: 0.5vw;
    color: #FFFAE6;
    box-shadow: 0.2rem 0.2rem rgb(126, 170, 236);
    width: fit-content;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.video-anime {
    width: 40.5vw;
    height: 60vh;
    background-color: #FF9F66;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0.5rem 0.5rem #FF5F00;
    border-radius: 2rem;
}

.video-anime h1 {
    color: #543310;
    margin-left: 10px;
}

.video-anime video {
    border-radius: 2rem;
}

footer {
    height: 14vh;
    width: 100%;
    background-color: #373A40;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: #F3F7EC;
    font-size: 1rem;
}

footer a img {
    float: right;
    margin-left: 0.5rem;
}
